@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Noto+Serif');


body{
    font-family: 'Noto Serif', serif;
}
h1{
    font-family: 'Major Mono Display', monospace;
    font-weight: 800;
    font-size: 8vw;
    color: #4db94c;
}
@media screen and (max-width: 720px) {
    h1{
        font-size: 40px;

    }
}